<a href="https://colab.research.google.com/github/JhonHendricksBautista/CPE032_BigData/blob/main/Hands_On_Activity_1_1_Bautista.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Name: Jhon Hendricks T. Bautista <br>
Section: CPE31S4 <br>
Instructor: Engr Neal Matira <br>
Date: 07/31/2025

# Hands-On-Activity-1.1

## Objective(s)
The objective of this activity is to familiarize students with PySpark and Google Colab by setting up a foundational big data environment suitable for distributed data processing.

## Intended Learning Outcomes

At the end of this activity, the students should be able to:


*   Analyze how PySpark handles data processing compared to traditional tools.
*   Evaluate the benefits of distributed computing using simulated large-scale operations.
*   Create a basic data processing workflow using PySpark DataFrames on Google Colab

## Discussion

**What is PySpark?**

Apache Spark is an open-source, distributed computing system designed for fast processing of large-scale data. PySpark is the Python interface for Apache Spark. It handles large datasets efficiently with parallel computation in Python workflows, ideal for batch processing, real-time streaming, machine learning, data analytics, and SQL querying. PySpark supports industries like finance, healthcare, and e-commerce with speed and scalability.


**Spark Cluster**


A key component of working with PySpark is clusters. A Spark cluster is a group of computers (nodes) that collaboratively process large datasets using Apache Spark, with a master node coordinating multiple worker nodes. This architecture enables distributed processing. The master node manages resources and tasks, while worker nodes execute assigned compute tasks.


**Spark Session**


A SparkSession is the entry point into PySpark, enabling interaction with Apache Spark's core capabilities. It allows us to execute queries, process data, and manage resources in the Spark cluster.

## Materials and Equipment


*   Internet connection
*   Google Colab
*   Personal Computer

## Procedure

Importing Google Colab and Initializationof SparkSession

In [3]:
from pyspark.sql import SparkSession
my_spark = SparkSession.builder.appName("my_spark").getOrCreate()
print(my_spark)

<pyspark.sql.session.SparkSession object at 0x7fb58b7ac390>

### Data Loading

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
username_df = my_spark.read.csv("/content/drive/MyDrive/BigData_Bautista/username.csv", header=True, inferSchema=True) ## TODO: Change path according to your folder setup
username_df.show()

+---------------+----------+----------+---------+
|       Username|Identifier|First Name|Last Name|
+---------------+----------+----------+---------+
|  graylooker123|      1002|    Robert|  Jenkins|
|    ironlord982|      1003|     Linux| Cromwell|
|  skyrimlord023|      1004| Cassandra|    Ramos|
|wannabefortnite|      1005|    Joseph|   Pandas|
|    smithSummer|      1006|    Tensor|     Flow|
+---------------+----------+----------+---------+

Follow up question, what happens when you run this code?

irst I changed the file path according to my mounted drive to be able to use the csv file. After running the code, it gave a table of the data inside the csv file. It shows all the columns and rows in the csv file.

count the number of rows

In [5]:
username_df.count()

5

### Sample Filtering of dataframe

In [6]:
df_filtered = username_df.filter(username_df["Identifier"] > 1002)

In [7]:
df_filtered.show()

+---------------+----------+----------+---------+
|       Username|Identifier|First Name|Last Name|
+---------------+----------+----------+---------+
|    ironlord982|      1003|     Linux| Cromwell|
|  skyrimlord023|      1004| Cassandra|    Ramos|
|wannabefortnite|      1005|    Joseph|   Pandas|
|    smithSummer|      1006|    Tensor|     Flow|
+---------------+----------+----------+---------+

The output reveals the data which has a “Identifier” value of greater than 1002. This will output only 4 rows compared to the previous code because of the filter function removing or excluding all the data that does not meet the conditions.

**Enter your answer here**

### Aggregating and Grouping

In [8]:
from pyspark.sql.functions import avg
username_df.groupBy("Username").agg(avg("Identifier")).show()

+---------------+---------------+
|       Username|avg(Identifier)|
+---------------+---------------+
|wannabefortnite|         1005.0|
|  skyrimlord023|         1004.0|
|    ironlord982|         1003.0|
|  graylooker123|         1002.0|
|    smithSummer|         1006.0|
+---------------+---------------+

Summarize the procedure conducted

**Enter your answer here**

# Supplementary Activity

1. Create a dataframe
2. Use the old SparkSession instead of creating a new one
3. Load the Employee_salaries.csv
4. Filter the Employees based on their gender
5. Group the Employees based on their Gender and Average their Salaries
6. Compute annual salary for each employee.
7. Sort the result and display the highest average.

*Note that for each number in the supplementary activity (1-7), provide and explanation of the procedure, output, and/or analysis*

## **1. Create a dataframe**

In [10]:
# Name the new dataframe based on its content
employees_df = my_spark.read.csv("/content/drive/MyDrive/BigData_Bautista/Employee_Salaries.csv", header=True, inferSchema=True)

+----------+--------------------+--------------------+------+-----------+------------+-------------+-----+
|Department|     Department_Name|            Division|Gender|Base_Salary|Overtime_Pay|Longevity_Pay|Grade|
+----------+--------------------+--------------------+------+-----------+------------+-------------+-----+
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|   175873.0|         0.0|          0.0|   M2|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|  145613.36|         0.0|          0.0|   M3|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F|   136970.0|         0.0|          0.0|   M3|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F|  89432.694|         0.0|       2490.0|   21|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F|    78947.0|      456.68|       6257.7|   16|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F|    98228.0|       518.8|       998.28|   21|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F| 82405.3864|       549.2|          0.0|   18|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|    93986.0|     1187.06|      2452.94|  N20|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F|  149464.15|         0.0|      9021.82|   18|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|   117424.0|         0.0|          0.0|  N25|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F|   82808.28|    11870.82|          0.0|   21|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M| 65961.8438|      2092.7|          0.0|   13|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|   59288.86|     1013.01|          0.0|   13|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|  139407.15|         0.0|          0.0|   M3|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F|   128531.0|         0.0|          0.0|  N27|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|  152632.07|         0.0|          0.0|   M3|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F| 73955.2951|     3509.43|          0.0|   16|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|   117424.0|         0.0|          0.0|  N25|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|   117424.0|         0.0|          0.0|  N25|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F| 110572.155|         0.0|          0.0|  N26|
+----------+--------------------+--------------------+------+-----------+------------+-------------+-----+
only showing top 20 rows

In the code above I simple named the new dataframe as "employees_df" since the data is about employees. Then to ge or use the data, I copied the file path from my drive to output the dataframe.

## **2. Use the old SparkSession instead of creating a new one**

In [ ]:
from pyspark.sql import SparkSession # spark session copied in the procedure
my_spark = SparkSession.builder.appName("my_spark").getOrCreate()
print(my_spark)

In the code above I simply copied the spark session used in the procedure above. This enables me to use the csv file and turn it into a dataframe.

### **3. Load the Employee_salaries.csv**

In [11]:
# use show function to display the data
employees_df.show()

+----------+--------------------+--------------------+------+-----------+------------+-------------+-----+
|Department|     Department_Name|            Division|Gender|Base_Salary|Overtime_Pay|Longevity_Pay|Grade|
+----------+--------------------+--------------------+------+-----------+------------+-------------+-----+
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|   175873.0|         0.0|          0.0|   M2|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|  145613.36|         0.0|          0.0|   M3|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F|   136970.0|         0.0|          0.0|   M3|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F|  89432.694|         0.0|       2490.0|   21|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F|    78947.0|      456.68|       6257.7|   16|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F|    98228.0|       518.8|       998.28|   21|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F| 82405.3864|       549.2|          0.0|   18|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|    93986.0|     1187.06|      2452.94|  N20|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F|  149464.15|         0.0|      9021.82|   18|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|   117424.0|         0.0|          0.0|  N25|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F|   82808.28|    11870.82|          0.0|   21|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M| 65961.8438|      2092.7|          0.0|   13|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|   59288.86|     1013.01|          0.0|   13|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|  139407.15|         0.0|          0.0|   M3|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F|   128531.0|         0.0|          0.0|  N27|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|  152632.07|         0.0|          0.0|   M3|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F| 73955.2951|     3509.43|          0.0|   16|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|   117424.0|         0.0|          0.0|  N25|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|   117424.0|         0.0|          0.0|  N25|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F| 110572.155|         0.0|          0.0|  N26|
+----------+--------------------+--------------------+------+-----------+------------+-------------+-----+
only showing top 20 rows

In this code I simply used the show function in order to output the dataframe. This was possible since there is already an established spark session and dataframe variable created in the previous numbers.

### **4. Filter the Employees based on their gender**

In [12]:
# Filter the gender of MALE
employees_df.filter(employees_df['Gender'] == 'M').show()

+----------+--------------------+--------------------+------+-----------+------------+-------------+-----+
|Department|     Department_Name|            Division|Gender|Base_Salary|Overtime_Pay|Longevity_Pay|Grade|
+----------+--------------------+--------------------+------+-----------+------------+-------------+-----+
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|   175873.0|         0.0|          0.0|   M2|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|  145613.36|         0.0|          0.0|   M3|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|    93986.0|     1187.06|      2452.94|  N20|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|   117424.0|         0.0|          0.0|  N25|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M| 65961.8438|      2092.7|          0.0|   13|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|   59288.86|     1013.01|          0.0|   13|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|  139407.15|         0.0|          0.0|   M3|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|  152632.07|         0.0|          0.0|   M3|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|   117424.0|         0.0|          0.0|  N25|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|   117424.0|         0.0|          0.0|  N25|
|       ABS|Alcohol Beverage ...|ABS 85 Beer Deliv...|     M|    61240.0|     5294.68|       995.18|   10|
|       ABS|Alcohol Beverage ...|ABS 85 Beer Deliv...|     M|    61240.0|       92.35|       4827.4|   10|
|       ABS|Alcohol Beverage ...|ABS 85 Beer Deliv...|     M|    86103.0|    23917.44|      3665.64|  N18|
|       ABS|Alcohol Beverage ...|ABS 85 Beer Deliv...|     M|    61240.0|     9580.78|        459.3|   10|
|       ABS|Alcohol Beverage ...|ABS 85 Beer Deliv...|     M|    86103.0|     3165.46|      3665.65|  N18|
|       ABS|Alcohol Beverage ...|ABS 85 Beer Deliv...|     M| 75086.4937|     6857.37|          0.0|   15|
|       ABS|Alcohol Beverage ...|ABS 85 Beer Deliv...|     M| 81931.2453|    24672.86|          0.0|  N18|
|       ABS|Alcohol Beverage ...|ABS 85 Beer Deliv...|     M|    75621.0|     2065.26|      3471.32|   15|
|       ABS|Alcohol Beverage ...|ABS 85 Beer Deliv...|     M|  75621.002|     4453.91|      3572.85|   15|
|       ABS|Alcohol Beverage ...|ABS 85 Beer Deliv...|     M|    75621.0|    10989.68|      3436.83|   15|
+----------+--------------------+--------------------+------+-----------+------------+-------------+-----+
only showing top 20 rows

In [13]:
# Filter the gender of FEMALE
employees_df.filter(employees_df['Gender'] == 'F').show()

+----------+--------------------+--------------------+------+-----------+------------+-------------+-----+
|Department|     Department_Name|            Division|Gender|Base_Salary|Overtime_Pay|Longevity_Pay|Grade|
+----------+--------------------+--------------------+------+-----------+------------+-------------+-----+
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F|   136970.0|         0.0|          0.0|   M3|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F|  89432.694|         0.0|       2490.0|   21|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F|    78947.0|      456.68|       6257.7|   16|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F|    98228.0|       518.8|       998.28|   21|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F| 82405.3864|       549.2|          0.0|   18|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F|  149464.15|         0.0|      9021.82|   18|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F|   82808.28|    11870.82|          0.0|   21|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F|   128531.0|         0.0|          0.0|  N27|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F| 73955.2951|     3509.43|          0.0|   16|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F| 110572.155|         0.0|          0.0|  N26|
|       ABS|Alcohol Beverage ...| ABS 85 Beer Loading|     F|    76668.0|     3226.55|          0.0|   12|
|       ABS|Alcohol Beverage ...|ABS 85 Beer Wareh...|     F|  56922.265|     6156.95|          0.0|   13|
|       ABS|Alcohol Beverage ...|ABS 85 Licensure,...|     F|  166140.03|         0.0|          0.0|   M2|
|       ABS|Alcohol Beverage ...|ABS 85 Licensure,...|     F| 99335.0745|     1540.34|          0.0|   22|
|       ABS|Alcohol Beverage ...|ABS 85 Licensure,...|     F|  94334.247|         0.0|          0.0|  N25|
|       ABS|Alcohol Beverage ...|ABS 85 Licensure,...|     F|    98349.0|         0.0|          0.0|   22|
|       ABS|Alcohol Beverage ...|ABS 85 Licensure,...|     F|    64633.0|         0.0|          0.0|   16|
|       ABS|Alcohol Beverage ...|ABS 85 Licensure,...|     F|    54583.0|         0.0|          0.0|   18|
|       ABS|Alcohol Beverage ...| ABS 85 Burtonsville|     F| 47447.9101|     1302.22|          0.0|   12|
|       ABS|Alcohol Beverage ...| ABS 85 Burtonsville|     F| 58239.9985|      536.86|          0.0|   14|
+----------+--------------------+--------------------+------+-----------+------------+-------------+-----+
only showing top 20 rows

For the problem number 4, I used the filter function in order to filter a rows of data based in the value of their "Gender' column. First I filtered the Male which will output only records of employees which are male. Then I changed the condition to female. This will now output only rows of data for the female emoplyees data records.

### **5. Group the Employees based on their Gender and Average their Salaries**

In [14]:
from pyspark.sql.functions import avg
employees_df.groupBy("Gender").agg(avg("Base_Salary")).show() # using groupby function

+------+-----------------+
|Gender| avg(Base_Salary)|
+------+-----------------+
|     F|87497.50279041701|
|     M|92382.92975236966|
+------+-----------------+

For this code in order to group all the employees by gender, I used the groupby function. I used the column of gender to group the data since it is the condition needed. There is also to average their salaries, which we can by aggregating the data points which uses the average function. As a result all the records of male and female are averaged leaving us with 2 rows of data.

### **6. Compute annual salary for each employee.**

In [18]:
employees_df_w_annual = employees_df.withColumn("Annual_Salary", employees_df.Base_Salary*12)
employees_df_w_annual.show()

+----------+--------------------+--------------------+------+-----------+------------+-------------+-----+------------------+
|Department|     Department_Name|            Division|Gender|Base_Salary|Overtime_Pay|Longevity_Pay|Grade|     Annual_Salary|
+----------+--------------------+--------------------+------+-----------+------------+-------------+-----+------------------+
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|   175873.0|         0.0|          0.0|   M2|         2110476.0|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|  145613.36|         0.0|          0.0|   M3|1747360.3199999998|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F|   136970.0|         0.0|          0.0|   M3|         1643640.0|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F|  89432.694|         0.0|       2490.0|   21|       1073192.328|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F|    78947.0|      456.68|       6257.7|   16|          947364.0|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F|    98228.0|       518.8|       998.28|   21|         1178736.0|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F| 82405.3864|       549.2|          0.0|   18|       988864.6368|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|    93986.0|     1187.06|      2452.94|  N20|         1127832.0|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F|  149464.15|         0.0|      9021.82|   18|1793569.7999999998|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|   117424.0|         0.0|          0.0|  N25|         1409088.0|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F|   82808.28|    11870.82|          0.0|   21|         993699.36|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M| 65961.8438|      2092.7|          0.0|   13|       791542.1256|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|   59288.86|     1013.01|          0.0|   13| 711466.3200000001|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|  139407.15|         0.0|          0.0|   M3|1672885.7999999998|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F|   128531.0|         0.0|          0.0|  N27|         1542372.0|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|  152632.07|         0.0|          0.0|   M3|        1831584.84|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F| 73955.2951|     3509.43|          0.0|   16| 887463.5412000001|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|   117424.0|         0.0|          0.0|  N25|         1409088.0|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|   117424.0|         0.0|          0.0|  N25|         1409088.0|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F| 110572.155|         0.0|          0.0|  N26|1326865.8599999999|
+----------+--------------------+--------------------+------+-----------+------------+-------------+-----+------------------+
only showing top 20 rows

In order to compute the annual salary I assumed the base salary is the montly salary for each employee and each row of data is one person. With that I simply created a new data frame which now contains the annual salary column. This new column contains the annual salary per employee which is computed by multiply the base salary to 12. This new column is created by the withColumn function.

## **7. Sort the result and display the highest average.**

In [26]:
sortedAnnual_employees_df = employees_df_w_annual.orderBy("Annual_Salary", ascending = False)
sortedAnnual_employees_df.show()

+----------+--------------------+--------------------+------+-----------+------------+-------------+-----+-------------+
|Department|     Department_Name|            Division|Gender|Base_Salary|Overtime_Pay|Longevity_Pay|Grade|Annual_Salary|
+----------+--------------------+--------------------+------+-----------+------------+-------------+-----+-------------+
|       CEX|Offices of the Co...|CEX 15 Chief Admi...|     M|   292000.0|         0.0|          0.0|  EX0|    3504000.0|
|       CAT|County Attorney's...|CAT 30 County Att...|     M|   258000.0|         0.0|          0.0|  EX1|    3096000.0|
|       POL|Department of Police|POL 47 HQ Police ...|     M|   258000.0|         0.0|          0.0|  EX1|    3096000.0|
|       CCL|      County Council|CCL 01 Council Ce...|     F|  246162.47|         0.0|          0.0| NULL|   2953949.64|
|       DGS|Department of Gen...|     DGS 36 Director|     M|   246000.0|         0.0|          0.0|  EX1|    2952000.0|
|       DOT|Department of Tra...|     DOT 50 Director|     M|   244000.0|         0.0|          0.0|  EX1|    2928000.0|
|       HHS|Department of Hea...|HHS 60 Director's...|     M|   240000.0|         0.0|          0.0|  EX1|    2880000.0|
|       FIN|Department of Fin...|     FIN 32 Director|     M|   236000.0|         0.0|          0.0|  EX1|    2832000.0|
|       ABS|Alcohol Beverage ...|     ABS 85 Director|     F|   236000.0|         0.0|          0.0|  EX1|    2832000.0|
|       OMB|Office of Managem...|OMB 31 Office of ...|     F|   236000.0|         0.0|          0.0|  EX1|    2832000.0|
|       PRO|Office of Procure...|PRO 35 Procuremen...|     M|   236000.0|         0.0|          0.0|  EX1|    2832000.0|
|       HHS|Department of Hea...|HHS 60 Behavioral...|     M|   233329.0|         0.0|      2293.44|  MD4|    2799948.0|
|       IGR|Office of Intergo...|     IGR 20 Director|     F|   232000.0|         0.0|          0.0|  EX1|    2784000.0|
|       CEX|Offices of the Co...|CEX 15 County Exe...|     M|  231915.07|         0.0|          0.0| NULL|   2782980.84|
|       TBS|Department of Tec...|TBS 34 CIO Chief ...|     F|   227000.0|         0.0|          0.0|  EX1|    2724000.0|
|       OHR|Office of Human R...|     OHR 33 Director|     F|   226000.0|         0.0|          0.0|  EX1|    2712000.0|
|       DEP|Department of Env...|     DEP 80 Director|     M|   225000.0|         0.0|          0.0|  EX1|    2700000.0|
|       LIB|Department of Pub...|LIB 71 Director's...|     F|   224000.0|         0.0|          0.0|  EX1|    2688000.0|
|       COR|Correction and Re...|  COR 42 DO Director|     M|   221000.0|         0.0|          0.0|  EX1|    2652000.0|
|       HHS|Department of Hea...|HHS 60 Director's...|     M|   220000.0|         0.0|          0.0|  EX1|    2640000.0|
+----------+--------------------+--------------------+------+-----------+------------+-------------+-----+-------------+
only showing top 20 rows

To get the sorted records by their salary and get the highest, I simply used the orderBy function then state the condition for sorting is the annual salary column. Then in to see the highest salary at the top, I marked the ascending argument as False.

# HOA Conclusion

**Enter your answer here**